# ================================
# Python
# ================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/

# ================================
# Virtual Environment
# ================================
venv/
.env/
.env*/

# ================================
# IDE / Editor
# ================================
.vscode/
.idea/
*.swp
*.swo

# ================================
# OS
# ================================
.DS_Store
Thumbs.db

# ================================
# Logs & Outputs
# ================================
*.log
runs/
work_dir/
tensorboard/

# ================================
# Datasets (DO NOT PUSH NTU DATA)
# ================================
data/
*.npz
*.npy
*.pkl

# ================================
# Model Checkpoints
# ================================
*.pth
*.pt
*.ckpt

# ================================
# Temporary Files
# ================================
tmp/
cache/
!data/**/.gitkeep

*.pt
work_dir/
